.post-item {
    padding-top: 110px;
    &:not(:first-child) {
        padding-top: 5%;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    span {
        header {
            text-align: center;
            a {
                font-size: 33px;
            }
        }
    }
}

.content {
    min-height: 89vh;
}
