.post-item {
    padding-top: 110px;
    &:not(:first-child) {
        padding-top: 5%;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    header {
        text-align: center;
        a {
            display: inline-block;
            font-size: 24px;
            @media (min-width: 992px) {
                font-size: 33px;
                line-height: 1.2;
            }
        }
    }
}

.content {
    min-height: 89vh;
}
