---
layout: default
---
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=239658500067618&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <!-- <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')"> -->
  <header id="main-2">
    <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="container mt-4">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
    {{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
  
  <!-- Social media shares -->
  {% include share_buttons.html %}
   
   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}
    
</article>

<!-- Disqus -->
<!-- {% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %} -->
{% include facebook.html %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}